.headermaster{
    background-image:url(https://www.indo-iqra.com/assets/img/jewel/hero-banner.jpg);
    background-size: auto;
    min-height: 760px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;

}

.header-right {
    display: flex;
}

.header-right--link > .link 
{
    padding: 0px 25px;
    color: white;
    font-weight: 500;
    text-decoration: unset;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-right--link > .link:hover{
    font-weight: 500;
    opacity: .6; 
}  


button {
    padding: 8px 20px;
    border-radius:  12px;
    font-weight: 400px;
    border: 1px solid transparent;
    font-size: 18px;
}

button:hover{
    cursor: pointer;
    opacity: .6;

}

.header-right--button> button {
    background-color: #3ceba5;
    border-color: #3ceba5;
    color: #ffffff;
}

.logo-iqra{
    width: 120px;
}

.main-text{
    padding-top: 5rem;
}

.text{
    width: 900px;
    float: left;
    margin-left: 220px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    justify-content: center;
    color: rgb(229, 240, 208);
}
.master-button--1{
    width: 200px;
    height: 35px;
    background-color: transparent;
    float: left;
    margin-left: 450px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
    font-family: sans-serif;
}
.master-button--2 {
    width: 200px;
    height: 35px;
    background-color: transparent;
    float: right;
    margin-right: 450px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: 30px;
    color: white;
    font-family: sans-serif;
}
.container1 {
    display: block;
    width: 1400px;
    height: 629px;
    background-color: white;
}
.iqra {
    margin-top: 0px;
    padding-top: 50px;
    background-color: white;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}
.iqra-line {
    padding: 0;
    text-align: center;
    width: 100px;
    color: lightblue;
    border: 2px solid #007aff;
}
.explanation {
    margin: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    word-spacing: 5px;
    line-height: 40px;
}    
.silabus{
    margin-top: 20px;
    padding-left: 570px;
}

.silabus-bttn{
    padding: 5px 50px;
    font-weight: 300;
    border-radius: 10px;
    border: 1px solid transparent;
    background: rgb(0, 122, 255);
    color: white;
    cursor: pointer;
    margin: 50px;
    size: 50px;
}